form{
    width: 230px;
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
    height: 32px;
    line-height: 36px;
    
    background-color: #F39C12;
    color: white;
    position: relative;
}

input[type=search]{
	width: 100%;
    height: 32px;
    
    padding-left: 24px;
    background-color: #EF7B47;
    
	   -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;	
	
	-webkit-appearance: none;
	
	border: none;
	margin:0;
	vertical-align: top;
	
	-webkit-transition: .3s background ease-in-out;
	   -moz-transition: .3s ease-in-out;
	        transition: .3s background ease-in-out;
	
	-webkit-box-shadow: none !important;
	   -moz-box-shadow: none !important;
	        box-shadow: none !important;
	        
	-webkit-border-radius: 0 !important;
	   -moz-border-radius: 0 !important;
	        border-radius: 0 !important;	        
}

input[type=search]:focus{
	width: 100%;
	background-color: #ffffff;
	padding-left: 3px;
	z-index:1;
	position: relative;
	
	-webkit-transition: .1s background ease-in-out;
	   -moz-transition: .1s background ease-in-out;
	        transition: .1s background ease-in-out;	        
}

.search-icon {
	display: inline-block;
	margin: 0 5px;
	padding: 0;
	height: 100%;
	vertical-align: top;
	line-height: 32px;
	position: absolute;
}

input[type=search]:focus::-webkit-input-placeholder{
    color: white;
    text-shadow: 0 0 0 #fff;
}


#cityClearSearch{    
	height: 100%;
	vertical-align: top;
	line-height: 32px;
	z-index:1;
	position: absolute;
	right: 2px;
	top: -2px;
	
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	//color: transparent;
	display: inline-block;
	vertical-align: top;
	
	-webkit-transition: .3s ease-in-out;
	   -moz-transition: .3s ease-in-out;
	        transition: .3s ease-in-out;
}
#cityClearSearch label{
    font-size: 32px;    
    font-family: Georgia;
}

form span{
	display: none;
}

form span >*{
	color: #000000;
}

input[type=search]:focus + span, form span:hover{
    color: #FFFFFF;
    display: inline-block;
}


#geo {
	border: 1px solid #CCC;
	width: 100%;
	padding: 4px 0px;
	background: white;
	color: black;
	height: 32px;
	line-height: 32px;
	text-decoration: none;
	margin: 0 auto;
	border-top: 0;
	bottom: 2px;
	z-index: 1;
	position: absolute;
	-webkit-box-shadow: 0px 3px 5px #bbbbbb;
	-moz-box-shadow: 0px 3px 5px #bbbbbb;
	box-shadow: 0px 3px 5px #bbbbbb;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	top: 33px;
	left: 0;
	//display: none;
}

form:span:hover{
	background-color: #EEEEEE;
	display:block;
}

#search:focus + #geo{
	display: block;
}


#geo i{
	font-size: 24px;
	line-height: 10px;
}



#multiCityList{
    display: none;
    position: absolute;
	top: 35px;
	left: 50%;
	width: 233px;
	z-index: 5;
	margin-left: -115px;
	background: white;
	list-style: none;
	border: 1px solid #ccc;
	box-shadow: 0 0 3px #aaa;
}

#multiCityList li{
	padding: 5px;
	border-bottom: 1px solid #ccc;
}

#multiCityList li a{
	text-decoration: none;
	display: block;
}

.removeCityList{
	text-align: center;
}


/* google autocomplete */

.pac-container{
	margin-top: 40px;
	-webkit-box-shadow: 0px 3px 5px #bbbbbb;
	   -moz-box-shadow: 0px 3px 5px #bbbbbb;
	        box-shadow: 0px 3px 5px #bbbbbb;		
}

.pac-item {
	padding: 7px;
	border-bottom: 1px solid #EEEEEE;
}